.header {
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-list * {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding: 100px 200px;
    align-items: center;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.hero-left {
    flex: 1;
}

.hero-left h3 {
    margin: 0;
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    margin: 0;
    font-size: 18px;
    color:#E5E7EBCC
}

.hero-img {
    flex: 1;
}

.hero-img img {
    max-width: 100%;
    min-width: 200px;
}

.hero button {
    background-color: #3882F6;
    border: 0;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 16px;
    color: #F9FAF8;
    display: block;
    margin: 12px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 0 300px 100px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card {
    width: 150px;
    height: 200px;
    flex-shrink: 0;
    text-align: center;
    color:#6d6f75;
    font-size: 14px;
}

.card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info h4 {
    text-align: center;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quotation{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    padding: 100px 300px;
}

.quotation strong {
    font-weight: 900;
    display: block;
    text-align: end;
    font-size: 18px;
}

